<nav-page id="app-page" ng-controller="AppCtrl">


  <!--
  Create tabs with an icon and text label, using the tabs-positive style (blue by default),
  and disabling header title animation when switching tabs.
  -->
  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive" animate-nav="false">

    <tab title="Physio" icon="icon ion-home">
      <content has-header="true" has-tabs="true">
        <list>
          <link-item ng-repeat="link in page.links" type="item-text-wrap" href="#/page/{{link.nextId}}">
              <h3>{{link.title}}</h3>
              <p>{{link.description}}</p>
            </item>
          </link-item>
        </list>
      </content>
    </tab>

    <tab title="About" icon="icon ion-search">
      <content has-header="true" has-tabs="true" padding="true">
        <h3>About this app</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consequatur deserunt dicta, ex exercitationem ipsa laudantium placeat praesentium temporibus! Accusantium aut dignissimos dolores dolorum facilis fugit repellat repellendus, temporibus?
        </p>
      </content>
    </tab>

  </tabs>
</nav-page>
